<!DOCTYPE html>
<html>
<head></head>
<body>
	<table style="background-color: grey; width: 550px;">
		<tbody>
			<tr>

				<td>

					<table style="background-color: white; width: 500px">
						<tbody>

							<tr>
								<td>
									Some text
								</td>

							</tr>

						</tbody>
					</table>

				</td>

			</tr>


		</tbody>



	</table>



</body>
</html>